/* EXERCÍCIO 1: fontes */
/* importá-las aqui... e definir as `font-family` da turminha... */
@import "fonts/ravie.css";
@import "fonts/verdana.css";

:root {
  --ALTUTRA_ELEMENTO: 84px;
  --COR_DE_FUNDO_BODY: #fff;
  --COR_DESTAQUE: #d027aa;
  --COR_RECIPIENTE_INICIO_GRADIENTE: #f6f1b2;
  --COR_RECIPIENTE_FIM_GRADIENTE: #4599b2;
  --FUNDO_CARDAPIO_VERMELHO: 255;
  --FUNDO_CARDAPIO_VERDE: 255;
  --FUNDO_CARDAPIO_AZUL: 255;
  --COR_BORDA_RECIPIENTE: #d3d3d3;
  --COR_BORDA_CARDAPIO: #aac0ae;
  --COR_CARDAPIO_H3: #333;
  --COR_CARDAPIO_ARTIGO: #333;
  --COR_CABECALHO_H1: #e90c0c;
  --COR_CABECALHO_H2: #333;
}

h1 {
  font-family: "Ravie", sans-serif;
}

html, body, #recipiente {
  min-height: 100vh;
}

body {
  background-color: var(--COR_DE_FUNDO_BODY);
  font-family: "Verdana", sans-serif;
  margin: 0;
}

strong {
  color: var(--COR_DESTAQUE);
}

#recipiente {
  background-image: linear-gradient(to bottom, var(--COR_RECIPIENTE_INICIO_GRADIENTE), var(--COR_RECIPIENTE_FIM_GRADIENTE) 80%);
  border-left: 1px solid var(--COR_BORDA_RECIPIENTE);
  border-right: 1px solid var(--COR_BORDA_RECIPIENTE);
}

#cardapio {
  background-color: rgba(var(--FUNDO_CARDAPIO_VERMELHO), var(--FUNDO_CARDAPIO_VERDE), var(--FUNDO_CARDAPIO_AZUL), 0.2);
  border-top: 1px solid var(--COR_BORDA_CARDAPIO);
  border-bottom: 1px solid var(--COR_BORDA_CARDAPIO);
  border-left: 1px solid var(--COR_BORDA_CARDAPIO);
}

#cardapio h3 {
  font-size: 18px;
  color: var(--COR_CARDAPIO_H3);
  margin-top: 30px;
}

#cardapio article {
  font-size: 14px;
  color: var(--COR_CARDAPIO_ARTIGO);
}


/* EXERCÍCIO 2: layout da página */
#recipiente {
  /* layout da página aqui */
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 154px 646px;
  /* grid-template-rows: 98.20px 1fr 116px; */
  grid-template-rows: auto 1fr auto;
}

#cabecalho-pagina {
  grid-column-start: 2;
  grid-row-start: 1;
}

#lateral {
  grid-column-start: 1;
  grid-row: 1 / span 3;
}

#cardapio {
  grid-column-start: 2;
  grid-row-start: 2;
  padding: 0 20px;
}

#rodape-pagina {
  grid-column-start: 2;
  grid-row-start: 3;
}



/* EXERCÍCIO 3: cabeçalho da página */
#cabecalho-pagina {
  padding: 10px 10px 10px 0;
}

#cabecalho-pagina h1 {
  margin: 0;
  font-size: 36px;
  color: var(--COR_CABECALHO_H1);
  font-weight: normal;
  text-align: center;
}

#cabecalho-pagina h2 {
  margin: 0;
  font-size: 24px;
  color: var(--COR_CABECALHO_H2);
  font-weight: normal;
  text-align: end;
}

/* EXERCÍCIO 4: cada item do menu */
article {
  display: flex;
  justify-content: space-between;
  line-height: 2em;
}


/* EXERCÍCIO 5: o rodapé */
#rodape-pagina {
  display: flex;
  justify-content: end;
  padding: 46px 15px 25px 0px;
}

/* EXERCÍCIO 6: lateral */
#lateral {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


/* EXERCÍCIO 7: o ticket */
#ticket {
  position: fixed;
  top: calc(50% - var(--ALTUTRA_ELEMENTO) / 2);
  left: -89px;
  transition: left 100ms ease-out;
}

#ticket:hover {
  left: 0;
}


/* EXERCÍCIO 8: deslocamento no siri e peixe */
#siri {
  position: relative;
  top: 17px;
  left: -10px;
}

#peixe {
  position: relative;
  left: -44px;
}

/* EXERCÍCIO 9: bolhas - no HTML e no JS */
/* --- */


/* EXERCÍCIO 10: modo escuro */
/* no início deste arquivo (depois dos @import), coloque
   as custom properties */
/* coloque aqui a media query para sobrescrever o valor
   das custom properties para o modo escuro */
@media (prefers-color-scheme: dark) {
  :root {
    --COR_DE_FUNDO_BODY: #000;
    --COR_DESTAQUE: #d027aa;
    --COR_RECIPIENTE_INICIO_GRADIENTE: #08083a;
    --COR_RECIPIENTE_FIM_GRADIENTE: #00002e;
    --FUNDO_CARDAPIO_VERMELHO: 155;
    --FUNDO_CARDAPIO_VERDE: 155;
    --FUNDO_CARDAPIO_AZUL: 155;
    --COR_BORDA_RECIPIENTE: #9b9b9b;
    --COR_BORDA_CARDAPIO: #aac0ae;
    --COR_CARDAPIO_H3: #fff;
    --COR_CARDAPIO_ARTIGO: #fff;
    --COR_CABECALHO_H1: #e90c0c;
    --COR_CABECALHO_H2: #fff;
  }
}
